body{
    background-color: black;
    align-content: center;
    margin-left: auto;
    margin-top: auto;
}
.background{
    align-content: center;
    top: 50%;
    left: 50%;
}
.username{
    align-content: center;
    background-color: cornflowerblue;
    position: absolute;
    width: 500px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    display: block;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%) 
}

.game{
    width: 100%;
    height: 100%;
    display: none;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: cornflowerblue;
}

canvas{
    width: 49%;
    height: 750px;
    background-color: #876543;
    border: 2px solid black;
}

#field1{
    float: left;
}
#field2{
    float: right;
}

#buttons{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -25%);
}

h2{
    font-size: 55px;
}

button{
    width: 250px;
    height: 100px;
    padding: 25px;
    margin: 15px 50px 15px 50px;
}

#spinButtons{
    width: 700px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
#spinLeft{
    float: left;
}
#spinRight{
    float: right;
}